* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-title {
    font-size: 2rem;
    font-weight: bolder;
}

.title {
    font-size: 2rem;
    font-weight: bolder;
}

.updated {
    padding-top: 0.3rem;
    color: #b9b9b9;
    font-size: 1rem;
    display: inline;
}

.header {
    display: flex;
    flex-direction: column;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    width: 60%;
    padding-top: 1.3rem;
}

.nav-links li{
    list-style: none;
}


.link-active {
    border-bottom: 2px solid orange;
}

a{
    color: black;
    text-decoration: none;
    font-size: 1.3rem;
}

.lang-button {
    font-size: small;
    font-weight: 600;
    background: transparent;
    border: 1px black solid;
    border-radius: 5px;
    width: 3rem;
    margin-left: 1rem;
}

.lang-button:hover {
    background: black;
    color: white;
    transform: scale(1.03);
}

.lang-button:active{
    background: black;
    color: white;
}

.lang-button:focus {
    outline: 0 !important;
    
}

@media (min-width: 1400px) {
    .header {
        display: flex;
        flex-direction: row;
    }

    .nav-links {
        margin-left: auto;
        display: flex;
        justify-content: space-between;
        width: 13%;
    }
}