* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title {
    font-size: 2rem;
    font-weight: bolder;
}

.updated {
    padding-top: 0.3rem;
    color: #b9b9b9;
    font-size: 1rem;
}

.header {
    display: flex;
    flex-direction: column;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    width: 40%;
    padding-top: 1.3rem;
}

.nav-links li{
    list-style: none;
}


.link-active {
    border-bottom: 2px solid orange;
}

a{
    color: black;
    text-decoration: none;
    font-size: 1.3rem;
}