.summary-card {
    margin-top: 1.5rem;
}

.country-bar {
    margin-top: 1rem;
}

.inner-container {
    margin-top: 3rem;
}

.line-chart {
    margin-top: 1.3rem;
}

.data-map {
    margin-top: 3rem;
}

.data-chart {
    margin-top: 3rem;
}

.hint {
    padding-top: 3rem;
}

.hint > span{
    color: #adadad;
    font-size: small;
}