.peopleCarouselImg img {
  width: auto;
  height: 225px, important;
  max-height: 225px;
}

.news-page-container {
  margin-top: 1.5rem;
}

.pagination {
  margin-top: 1.5rem;
  text-align: center;
}

.news-page-container {
  margin-bottom: 1.5rem;
}