@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

html
body{
  font-family: 'Ubuntu', sans-serif;;
}

.makeStyles-root-231 {
    width: auto;
  }
  
  .slider-content .inner h5 {
    font-weight: 550;
    margin: 0 auto;
    color: #FFFFFF;
    font-size: 40px;
    line-height: 1;
    position: absolute;
    bottom: 30px;
    padding: 20px;
  }
  
  .slider-content .inner p {
    color: #ffffff;
    font-size: 14px;
    line-height: 1.5;
    /* margin: 20px auto 30px; */
    max-width: 640px;
    position: absolute;
    bottom: 1px;
    margin-left: 20px;
  }
  
  .thisisdiv {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .slide::before {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.8)));
      background: linear-gradient(transparent, rgba(0, 0, 0, 0.8));
      bottom: 0;
      left: 0;
  }

  @media (max-width: 768px) {
    .thisisdiv {
        width: 100%;
    }

    .slider-content .inner h5 {
        font-weight: 500;
        margin: 0 auto;
        color: #FFFFFF;
        font-size: 1.8rem;
        line-height: 1;
        position: absolute;
        bottom: 30px;
        padding: 20px;
      }
      
    .slider-content .inner p {
        color: #ffffff;
        font-size: 14px;
        line-height: 1.5;
        /* margin: 20px auto 30px; */
        max-width: 640px;
        position: absolute;
        bottom: 1px;
        margin-left: 20px;
    }

  }