.summary_container {
    display: flex;
    justify-content: space-evenly;
}



@media (max-width: 768px) {
    .summary_container {
        display: flex;
        /* flex-direction: column; */
        width: auto;
        align-items: stretch;
        height: 100%;
    }

}